# [submodule "themes/risotto"]
# 	path = themes/risotto
# 	url = https://github.com/joeroe/risotto.git

[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
